
.move_container {
  width: 220px; height: 310px; transition : all 0.1s;
  position: relative;
  background-color: black;
}
.move_overlay {
  position: absolute;
  width: 320px;
  height: 310px;
  background: linear-gradient(105deg,
  transparent 40%,
  rgba(255, 219, 112, 0.8) 45%,
  rgba(132, 50, 255 ,0.6) 50%,
  transparent 54%);
  filter: brightness(1.1) opacity(0.8);
  mix-blend-mode: color-dodge;
  background-size: 150% 150%;
  background-position: 100%;
  transition: all 0.1s;
}
.move_card {
  width: 220px; height: 310px;
  background-image: url('https://i.namu.wiki/i/X7J99KfCb4prlBNDrCDb6dxpNGJ-ArxvUebVvxL57AdPjP7x6qjq2pF0ziweMVJ3HTZwwKOraIkjERRV0eOk6w.webp');
  background-size: cover;
}
